{% set title = 'Typography' %}
{% set parent = 'Testing' %}
{% extends 'includes/site-layout.html' %}

{% block body %}

  <div class="nhsuk-o-width-container">
    <main class="nhsuk-o-main-wrapper">
        <div class="nhsuk-o-grid">
          <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">

            <div class="nhsuk-page-heading">
              <h1>Typography test page</h1>
            </div>
          
            <div class="nhsuk-page-content">
              <h1 class="h1-new">Heading one</h1>			
              <h2 class="h2-new">Heading two</h2>
              <h3 class="h3-new">Heading three</h3>
              <h4 class="h4-new">Heading four</h4>
              <h5 class="h5-new">Heading five</h5>
              <p class="p-new">Test paragraph</p>
            </div>

          </div>
        </div>
    </main>
	</div>

{% endblock %}
